.profile-tab {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    color: #303030;
    font-size: 50px;
}

.profile-tab .layout-buttons {
    position: absolute;
    margin-top: 20px;
    display: flex;
    right: 10px;
}

.profile-tab .layout-buttons > div {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-size: 12px;
    border: 2px solid #acacac;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-tab .layout-buttons > div:hover {
    border: 2px solid #c5c5c5;
}

.profile-tab .layout-buttons > div:hover div {
    border: 1px solid #c5c5c5;
}

.profile-tab .layout-buttons > div div {
    border: 1px solid #acacac;
}

.profile-tab .layout-buttons > div.large div {
    width: 9px;
    height: 9px;
    border-radius: 2px;
}

.profile-tab .layout-buttons > div.middle div {
    width: 6px;
    height: 6px;
}

.profile-tab .layout-buttons > div.small div {
    width: 5px;
    height: 5px;
}

.api-card {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: #303030;
    transition: all .2s;
    padding: 5px 0;
    /* padding-top: 5px; */
    font-size: 35px;
}

.api-card.match {
    background-color: #d9e2ff;
}

.api-card:hover {
    color: #4f6380;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.api-card .img {
    width: 390px;
    height: 180px;
    background-position: center;
    background-size: cover;
}

.api-cards {
    display: grid;
    grid-auto-rows: 300px;
    align-content: center;
    justify-content: center;
}

.api-cards.large {
    grid-template-columns: 610px 610px;
    grid-auto-rows: 450px;
}

.api-cards.large .api-card {
    width: 610px;
}

.api-cards.large .api-card .img {
    width: 600px;
    height: 320px;
}

.api-cards.middle {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
}

.api-cards.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
}


.api-cards.small .api-card {
    width: 300px;
    font-size: 22px;
}


.api-cards.small .api-card .img {
    width: 290px;
}

.api-cards:empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.api-cards:empty:after {
    content: "No Match";
    margin-top: 100px;
    color: #d1d1d1;
    font-weight: 500;
    font-size: 70px;
}

@media screen and (max-width: 1190px) {
    .layout-buttons {
        display: none !important;
    }

    .api-cards .api-card {
        width: 400px !important;
    }

    .api-cards {
        grid-template-columns: 1fr 1fr !important;
        grid-auto-rows: 300px !important;
    }

    .api-card .img {
        width: 390px !important;
        height: 180px !important;
    }
}

@media screen and (max-width: 790px) {
    .api-cards {
        grid-template-columns: 1fr !important;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #303030;
    border-color: #303030 transparent #303030 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }